.FormContainer {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;    
    justify-content: center;
    text-align: center;
    align-content: center;
    background-color: #ffffff;
    box-shadow: 15px 15px rgb(236, 220, 130);
    width: 50em;
    height: 40em;
    margin-top: 10em;
}

.Form {
    display: flex;    
    flex-direction: column;
    width: 50%;
    padding: 2em;
    align-items: center;
}

.Form h1 {
    font-size: 2em;
    font-style: italic;
    letter-spacing: 0.07em;
}

.Form label {
    font-size: 1.4em;
    margin-top: 1em;

}

.Form button {
    padding-top: .9em;
    padding-bottom: .9em;
    width: 50%;
    background-color: rgb(236, 220, 130);
    border-color: transparent;
    margin-top: 2em;
    margin-bottom: 2em;

    font-size: 1em;
    font-weight: 600;
}

.Form input {
    padding: .5em;
    margin: .6em;
    font-size: 1.2em;
    box-shadow: 2px 2px rgb(236, 220, 130);
    border-color: rgb(43, 43, 43)
}








.RegistrationFormContainer {
    padding-top: 2em;
    padding-bottom: 4em;
    display: flex;    
    justify-content: center;
    text-align: center;
    align-content: center;
    background-color: #ffffff;
    box-shadow: 15px 15px rgb(134, 194, 194);
    width: 50em;
    height: 100%;
    margin-top: 10em;
}
.RegistrationForm {
    display: flex;    
    flex-direction: column;
    width: 50%;
    padding: 2em;
    align-items: center;
}

.RegistrationForm h1 {
    font-size: 2em;
    font-style: italic;
    letter-spacing: 0.07em;
/*     margin-bottom: 0.1em; */
}

.RegistrationForm button {
    padding-top: .9em;
    padding-bottom: .9em;
    width: 50%;
    background-color: rgb(134, 194, 194);
    border-color: transparent;
    margin-top: 2em;
/*     margin-bottom: 2em; */

    font-size: 1em;
    font-weight: 600;
}

.RegistrationForm input {
    padding: .5em;
    margin: .6em;
    font-size: 1.2em;
    box-shadow: 2px 2px rgb(134, 194, 194);
    border-color: rgb(43, 43, 43)
}

.RegistrationForm label {
    font-size: 1.4em;
    margin-top: 1em;

}
