.HeaderContainer {
  background-color: rgb(83, 83, 83);
  height: 3em;
  display: flex;
  justify-content: center;
  margin-bottom: 0em;
}

.HeaderItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.HeaderMiddle {
  position: absolute;
  left: 0;
  margin-left: 8em;
  font: 2em 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0.1em;
}

.HeaderMiddle a {
  color: rgb(231, 231, 231);
  text-decoration: none;
  -o-transition:.75s;
  -ms-transition:.75s;
  -moz-transition:.75s;
  -webkit-transition:.75s;
  transition:.75s;
}

a:hover {
  color: rgb(134, 194, 194);
}

.HeaderRight {
  position: absolute;
  right: 0;
  margin-right: 7em;
  font: 1.1em 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0.1em;
}
