.FavoritesLineStatusDetail {
    position: absolute;
    overflow: auto;
    padding-top: 2em;
    font-size: 1.6em;
    max-height: 47vh;
    max-width: 55vw;
    min-width: 55vw;
    right: 15vw;
    top: 37vh;
    letter-spacing: 0;
    z-index: 1000;
    justify-content: center;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    
}