.Middle {



}

.Left {

  float: left;
}

.Right {
  
/*   background-color: turquoise;
 */  font-size: 1.41em;
  width: 100%;
  height: 100%;
}
.Right-Search {
  
/*   flex-direction: column;
 *//*   justify-content: center;
  align-items: center; */
}

a {
  color: rgb(134, 194, 194);
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}


html, body {
  width: 100%;
  height: 100%;
  font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-size: cover; 
  
}
